language: rust
rust:
  - stable
  - beta
  - nightly
os:
  - linux
  - osx
matrix:
  allow_failures:
    - rust: nightly
script:
  - "$TRAVIS_BUILD_DIR/.travis/build.sh"
before_deploy:
  - pip install --user release-manager==0.1.0
deploy:
  skip_cleanup: true
  provider: script
  script: "./.travis/build.sh --release"
  on:
    tags: true
env:
  global:
    - secure: aRV01sQ193LHzsXwuAVWdRO6d5eGXmeScmZEMlaodRf3ULV8bf45Nb3yAuQkKzQwMlWLN/C+A8BNBl/Im+AOah7fHLGYWXqtN/UfuzINGAN2LKZzWV12ZqmHfbhfMCol0cHSwXht78rPhJ29kKGDqi73mSqPz9CS10InGPs/6NzQiyPHSK8ahsFC7MFOJFzUKZblscXfl8nTPsEeqV7XynNjDXvK1u3CBr6YkVkot/yDP8MZUedhkQtWd6dXr17hYPd9Iz35taOTdrPr3Z8HbmXvjnQq+h1ZzjOF2Br59mm/pjc0aQ64boUeudZf5U9e5QOl6StLfgo2df5Xh//6Hpq5XNnUMwRKDOo6wxYvif9Ik6w7peFBMdprKYM/Ofj6uHU5n2s/1OR3Y0Wi10wObC9P2AirhzQZn3KDLbtzW2JIEY3gM2/2LD9n7R0IvB7+9KTDX3IyveVkRtNOAUG/1H7Ft5PxJ/8/atoeUw279SNW+JAOjR9+t8rMwamMUxzrKIx2B45NGosd29QkFANjhJ/0twWiKkQe+eZYlTytlSPZM6GWd4rBxAUYhUKPBD+LPyE3XHCCq7hbyOjZ5k5B5wyIrlCwGcMVpkHpL9i+iDwjtmNvnRfz+xyIplsDOLXT8g6IpJumKOS0eJp8FbqzqXIq5Qv/Lno8CAdeJtWNJ00=
    - secure: hM6ALCfE7tDi/31z5locIMbQZyCgmMPihFICx5/O5stnJyACmE8pIAF+YO9mte1V/sv49/WEPiO27DjzAbVO8WAW5nb5nEi8EQuBZmjqzX1vAQ15VGAnWXN7VQFMCB1dUwKSWy8G0pePfxtZnQXYB5OmTDpTpPduKfyI4sMRciDcVPTMORmhW5b/zI7X+wVmuggF3ZPDoRdkyyEBVMLVWmqRCYHUkH6+EvRn4h/e5Rkd1z63s4jFNWpY9Ja3jT3yHlEVWJ3rnQowQpsDSAXITx1SMEghkY3Zoz0oqzaVhFKSKPhnKfFMpix9wyDzA9ego+J06BwaBtTaMZqJGiwP3BVfNjvpi38q341UT7K4TG52oIQ/5uMOkuTAjtJa95VINxqczhgr6nAmz1b3jJOEn2m/RmLFAkwshn0TThfhqfsNbEP+VxjxBOZ8UcbPZpazjoXtaISpj8ShPf1+gLpq7tpFTQEPMGPo7rElkjjEAo0mkBGPv8R8CeNikP9n3kNQujF0ZDIUKpJZX1JoYQT5uUUFP5TGfGQ3BavT8eF6diGhDyfdP1mqSNeevTJ2GvRSK59E2gel5ulfb22qOyw7Nt271DzoNlvqUM6+d/fLjnwowENOFo5sMzLXs0ovF05eFhU7potSHs+HRpMKHgXgK8j3vSj6ruwQHd6ptXXKth8=
